/* . -> selects classes  */
/* element.class -> targets all elements with given class name */
.list {
  color: red;
  list-style-type: none;
}

li {
  color: green;
}

ul.highlight {
  /* Inheritance */
  color: orange;
}

.highlight {
  color: deeppink;
}

#someId {
  color: blue;
}

[hello="something"] {
  color: yellow;
}

#someId {
  color: deeppink;
}

/* 
  tag (element), pseudo element - least specific 1
  class, attribute, pseudo class - more specific 10
  id - most specific 100
  inline style - 1000
  important - 10000
*/

/* #red {
  color: red;
} */

/* Specificity: 112 */
body article[class].yellow {
  color: deeppink;
}

/* Specificity: 21 */
article[class].yellow {
  color: yellow;
}

article {
  color: blue;
}

/* Specificity: 10100 */
/* #red {
  color: blue !important;
} */

/* 
  Specificity 10010
*/
.u-color-red {
  color: red !important;
}

/* Pseudo classes */

.btn-submit:hover {
  background-color: deeppink;
}

a:visited {
  color: green;
}

.btn-submit:active {
  background-color: green;
}

a:link {
  color: red;
}

button:focus,
a:focus {
  background-color: purple;
  outline: 2px dotted lightblue;
}

/* Pseudo elements */
.my-paragraph::first-letter {
  font-size: 100px;
}

.register-form {
  color: green;
}

.register-form input::placeholder {
  color: deeppink;
}

.my-paragraph::before {
  display: none;
  content: "🔥";
  /* visibility: hidden; */
}

.my-paragraph::after {
  content: "🔥";
}

.my-paragraph:hover::before {
  display: inline;
  /* visibility: visible; */
}

/* 
  Color units:
    -> color name
    -> hex
    -> rgb
    -> hsl
*/

/* 8bytes */
.color-example {
  /* color: rgba(255, 0, 0, 0.5); */

  /* 
    Hex: 1,2,3,4,5,6,7,8,9,a,b,c,d,e,f

  */
  /* color: #dbdde3; */

  /* 
    Hue, saturation and lightness
  */
  color: hsl(360deg, 100%, 50%);
  /* opacity: 0.7; */
}

.bg-blue {
  background-color: rgb(0, 0, 255);
}

body {
  margin-bottom: 100px;
}

/* 
  CSS units of measurements
  -> px 
  -> % 
  -> em - este raportat la font-size-ul elementului 
  -> rem - este raportat la font-size-ul elementului html
*/