@font-face {
  font-family: Wotfard;
  src: url('/css-margin/assets/fonts/wotfard-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/css-margin/assets/fonts/wotfard-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/css-margin/assets/fonts/wotfard-semibold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('/css-margin/assets/fonts/wotfard-regularitalic-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

* {
  font-family: Wotfard;
}

body {
  background: #222;
  padding: 32px;
}

.card {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  width: 500px;
  margin: 2rem auto;
}

h1 {
  background: deeppink;
  padding: 16px 32px;
  margin-bottom: 24px;
  font-size: 2rem;
  text-align: center;
  border-radius: 4px;
}

h3 {
  color: deeppink;
  margin-top: 5rem;
  text-align: center;
}

.divider {
  margin-top: 10rem;
}

img {
  display: block;
  width: 100%;
}

p,
img {
  margin-bottom: 16px;
}