/* 
  CSS positioning
  -> relative - positions element related to it's own initial position
  -> absolute - positions element relative to closest positioned parent
  -> fixed - positions element relative to the body tag 
  -> sticky - stays where it is, and if the container allows moves the element from the top of the viewport
  -> static - default value of all elements

  these positions enable us the use of the following additional properties:

  - top
  - left
  - right
  - bottom
*/

:root {
  --box-width: 300px;
  --box-height: 300px;
}

html,
body {
  margin: 0;
  height: 3000px;
}

section {
  height: 1500px;
}

.box {
  width: var(--box-width);
  height: var(--box-height);
  background-color: deeppink;
  margin-bottom: 10px;
}

.box-yellow {
  background-color: yellow;
  position: relative;
  top: 20px;
  left: 50px;
  z-index: 1;
}

.box-container {
  position: relative;
}

.box-green {
  position: absolute;
  background-color: green;
  top: 50px;
  left: 20px;
  z-index: 2;
}

.box-blue {
  position: fixed;
  background-color: blue;
  top: 0;
}

.box-red {
  position: sticky;
  background-color: red;
  top: -100px;
  left: 300px;
}

.box-center-container {
  position: relative;
  height: 500px;
}

.box-center {
  /* margin: 0 auto; */
  position: absolute;
  top: calc(50% - calc(var(--box-height) / 2));
  left: calc(50% - calc(var(--box-width) / 2));

  /* 
    Alternative centering
  */

  /* 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  */
}